@import "./palette"
, "./aui-iconfont"
, "./settings"
, "./shortcodes";

.row.sidebar {
  background: $sidebar-bg;
}

.sidebar {
  background: $sidebar-bg;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;

  .title {
    font-family: $adg3-font-family;
    font-weight: bold;
    font-size: 14px;
    color: $sidebar-title;
    &:hover {
      text-decoration: none;
    }
  }
  .selected-mark {
    position: relative;
    font-size: 17px;
    padding: 0;
    margin: 0;
    float: left;
    left: -8px;

    &::before {
      content: "\2022"
    }
  }
  .sidebar-title-selected{
    font-family: $adg3-font-family;
    font-weight: bold;
    font-size: 14px;
    position: relative;
    left: -13px;

    >span {
     display:block;
     padding-left: 13px;
    }
  }

  ul.menu {

    &[data-accordion-menu] {
      a.title {
        padding: 0 0 0 0;
        line-height: normal;
        outline: 0;

        &::after {
          font-family: "aui-iconfont";
          font-size: 22px;
          color: $nav-arrow-color;
          float: right;
        }
      }

      li[aria-expanded="true"] a.title::after {
        content: "\f15b";
      }

      li:not([aria-expanded="true"]) a.title::after {
        content: "\f11c";
      }
    }

    &:last-child {
      border-bottom: none;
    }

    li {
      .external-link{
        &:hover{
          text-decoration: underline;
          &::after{
            @include external-link-icon();
          }
        }
      }

      a:not(.title) {
        font-family: $adg3-font-family;
        padding-left: 0;
        padding-bottom: 0.22rem;
        font-weight: normal;
        line-height: 18px;
        font-size: 14px;
      }
      a span {
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}
