@import "./palette"
,       "./font-faces"
,       "./settings";

.subnav {
  min-height: 67px;
  background: white;
  border-bottom: 1px solid #ccc;
  width: 100%;

  .sidebar .title {
    font-family: $adg3-font-family;
    font-size: 14px;
  }

  ul.menu {
    position: relative;
    top: 16px;

    li {
      font-family: CircularProBook;

      a {
        font-size: 20px;
        font-weight: normal;
        height: 51px;
        padding-left: 0rem;
        padding-right: 0rem;
        margin-left: 0rem;
        margin-right: 2rem;

        &.current {
          border-bottom: 2px solid !important;
          font-family: CircularPro;
        }

        &:hover {
          border-bottom: 2px solid;
          text-decoration: none;
        }
      }
    }
  }

  h2.sub-head-title {
    vertical-align: middle;
    position: relative;
    top: 20px;
    font-size: 21px;
    color: $heading-2;
    display: block;
    float: left;
    font-family: CircularPro;
  }
}

.main {
  color: $base-fg;
  font-size: 14px;

  h1 {
    font-size: 36px;
    font-family: CircularPro;
    color: $heading-1;
  }

  h2 {
    font-size: 24px;
    font-family: CircularPro;
    color: $heading-2;
  }

  h3 {
    font-size: 21px;
    font-family: CircularPro;
    color: $heading-3;
  }

  h4 {
    font-size: 18px;
    font-family: CircularPro;
    color: $heading-4;
  }

  h5 {
    font-size: 15px;
    font-family: CircularPro;
    color: $heading-5;
  }
}
