  @import "./search";
  @import "./palette";

  @font-face {
    font-family: aui-iconfont;
    src: url(/font/aui-iconfont.ttf);
  }

  .heading.row.large-12.columns {
    background-color: $header-color;
  }

  .top-bar.level-3 {
    padding-left: 0px;
  }

  .top-bar {
    background: $header-color;
    height: 48px;
    font-family: CircularProBook;
    font-weight: normal;
    font-size: 18px;

    a:hover {
      text-decoration: none;
    }

    .logo {
      background-image: url("/img/atlassian-logo-white.png");
      background-size: 96px 20.4px;
      display: block;
      width: 96px;
      height: 20.4px;
      position: relative;
      float: left;
      top: -4px;
      z-index: 1;
    }
    .top-bar-left {
      ul{
          background-color: transparent;
      }

      .dropdown.menu {
        ul{
          border: none;
          background-color: transparent;
        }

          >.first-item{
            background-color: transparent;
            height: 47px;
            top: -8px;
            left: 14px;

              a.first-link{
                top:11px;
                margin-left: -5px;
              }

            &:hover{

              background-color: $homepage-header-li-bg;

              &:before {
                  display: block;
                  content: "";
                  height: 0;
                  width: 0;
                  border: 25px solid $homepage-header-li-bg;
                  border-left: 9px solid transparent;
                  border-top: 71px solid transparent;
                  position: absolute;
                  left: -18px;
                  top: -49px;
              }

              &:after {
                  display: block;
                  content: "";
                  height: 0;
                  width: 0;
                  border: 25px solid $homepage-header-li-bg;
                  border-bottom: 65px solid transparent;
                  border-right: 10px solid transparent;
                  position: absolute;
                  right: -35px;
                  top: -42px;
              }

            }

          }

           > li.opens-right > .is-dropdown-submenu {
              right: -24px;
              left: -18px;
              top: 100%;
          }



        > li.is-dropdown-submenu-parent > a::after {
          content: " ";
          font-family: aui-iconfont;
          border: none;
          right: 15px;
          margin-top: -8px
        }

        li.menu-text {
          padding: 0px;
          font-size: 18px;
          color: white;
        }

        li.no-hover{
          background-color: transparent;
          &:hover{
            cursor: pointer;
            background-color: transparent;
          }
        }

        li {
          background: $homepage-header-li-bg;
          font-size: 18px;
          border: none;
          padding-top: 2px;
          padding-bottom: 5px;
          &.first {
            height:100px;
          }

          &:hover {
            background: $header-hover;
          }

          &.last {
            border-radius: 0px 0px 5px 5px;

            &:hover {
              border-radius: 0px 0px 5px 5px;
              background: $header-hover;
            }
          }

          a {
            &:not(.first-link) {
              left:18px;
            }
            position: relative;
            padding: 0.4em 1.4em 0.4em 0;
          }
          a.logo-link {
            padding: 0.4em 1.2em 0.4em 0;
          }
        }

        input {
          height: 30px;
        }

        a {
          color: white;
        }

      }

      border: none;
      padding: 0;
      position: relative;
    }

    .top-bar-right {
      ul.menu {
        background: $header-color;

        li {
          a {
            background: $header-color;
            color: white;
          }

          &:hover {
            background: $header-color;
          }

          font-size: 18px;
        }
      }
    }
  }
